.shop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop .shop_item{
    width: 20%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    border-radius: 8px;
}

.shop .shop_item img{
    width:100%;
    height: 256px;
}

.shop .product_info{
    padding: 5px;
}

.shop .product_info h5{
    font-size: 25px;
    padding: 5px;
}

.shop .product_info .price{
     font-size: 18px;
     padding: 3px;
}
.shop .product_info .price span{
     color:  rgb(255, 0, 247);
}

.shop .product_info button{
      width: 100%;
      padding: 10px;
      font-size: 18px;
      background: #111;
      color: yellow;
      margin-top: 15px;
      cursor: pointer;
      transition: .5s ease-in-out;
}
.shop .product_info button:hover{
    border: 1px solid;
    background: transparent;
    color: #111;
}


.cart_page{
    padding: 20px 50px;

}
.cart_item{
     display: flex;
     justify-content: space-around;
     margin: 20px 0;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     align-items: center;
     padding: 20px;
}

.cart_item .buttons{
    display: flex;
} 

 .cart_item .buttons .quantity{
    padding: 0 20px;
    border: 1px solid #111;
    height: 50px;
    margin-top: 15px;
    line-height: 50px;
    font-size: 32px;
}

.cart_item .buttons button{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: #111;
    font-size: 30px;
    color: yellow;
    margin: 10px;
    transition: .4s ease-in;
    cursor: pointer;
}

.cart_item .buttons button:hover{
    background: transparent;
    border: 1px solid;
    color: #111;
}

 .cart_item .rmv_btn{
    padding: 15px 20px;
    font-size: 20px;
    background: #111;
    color: #fff;
    cursor: pointer;
    transition: .5s ease-in;
} 

 .cart_item .rmv_btn:hover{
    border: 1px solid #111;
    color: #000;
    background: transparent;
} 

 .checkout_area {
    text-align: center;
}

.checkout_area button{
    padding: 15px 20px;
    cursor: pointer;
    width: 50%;
    margin: 20px auto;
    font-size: 18px;
    background-color: #111;
    color: #fff;
    transition: .5s ease-in;
}

.checkout_area button:hover{
    border: 1px solid #111;
    color: #000;
    background: transparent; 
}

 .nav-link:hover{
    text-decoration: underline;
    color:rgb(0, 0, 0);
    
  }
  .nav-link1{
   font-size: 2rem;
  }
  
  .btnn1{
    height: 2.75rem;
  }
  
  .img1{
    min-height: 350px;
    max-height: 350px;
  } 
  
  .product-box:hover{
    transform: scale(1.1);
  }
 
  .footer{
      background-color: rgb(219, 218, 218);
      padding: 42px;
    }
   
  .mar{
    margin-top: 155px;
  }  
  
  .heading-bigger {
    font-size: 3rem;
    margin-top: -15.8rem;
    position: relative;
    color: #00000084!important;
    font-weight: bold!important;
    padding-bottom: 0!important;
  }
  .offer-title{
    position: relative;
    color: #00000084!important;
  } 
  
  .img-1 {
    filter:opacity(78%);
    opacity: 0.9;
  }
   
  .btn1{
    margin-left: 8.975rem;
    position: relative;
   }   
  
@media(max-width:775px) {
  .img-1{
    margin-top: 25px;
    margin-bottom: 80px;
  }
   .heading-bigger{
    font-size: 1.9rem;
   }
   .offer-title{
    font-size: 0.615rem;
   }
   .btn1{
    margin-left:3.5rem ;
   }
}

   
   .page-link{
    line-height: 16px;
    width: 45px;
    font-size: 1rem;
    color:#495057
  }
  .page-item input{
    line-height: 22px;
    padding: 3px;
    font-size: 15px;
    text-align: center;
  }
  .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
  }
  
  .detail-box{
    display: grid;
    row-gap: 0.5rem;
  }
  
  .cart-product-tittle{
     font-size: 1.5rem;
     text-transform: uppercase;
  }
  
  .cart-price{
    font-weight: 500;
  }
  .cart-quantity{
    border: 1px solid black;
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
  }
  
  .cart-remove{
    font-size: 24px;
    color:rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
  }
  
  .total-tittle{
    font-size: 1rem;
    font-weight: 600;
  }
   
  .total-price{
    margin-left: 0.5rem;
  }
  




